<div class="round box" id="problem_with_description">
  <div><%= link_to problem.title, problem %><span class="subtext"> in&nbsp<%= problem.language %></span></div>
  <div class="subtext">Par Score: <%= problem.par_score %></div>
  <%= problem.description %>
</div>