<div class="round box" id="old_problem">
  <div><%= link_to problem.title, problem %> in <%= problem.language %></div>
  <!-- <td><%= link_to 'Edit', edit_problem_path(problem) %></td>
  <td><%= link_to 'Destroy', problem, :confirm => 'Are you sure?', :method => :delete %></td> -->
</div>