<section id="all_users">
  <table id="title" class="title"><tr>
    <td>Player</td><td class="right">Score</td>
  </tr></table>
  <% @users.each do |user| %>
    <% if !user.admin? %>
      <%= render :partial => 'user', :object => user %>
    <% end %>
  <% end %>
</section>