<section id="all_users">
  <div class="title">Players</div>
  <% @users.each do |user| %>
    <% if !user.admin? %>
      <%= render :partial => 'user', :object => user %>
    <% end %>
  <% end %>
</section>