<section id="user_profile">
  <%= render :partial => 'user', :object => @user%>
  <br>
  <% if !@submissions.empty? %>
    <div class="title">Submissions</div>
      <% @submissions.each do |submission| %>
        <%= render :partial => 'submissions/submission', :object => submission %>
      <% end %>
    <% end %>
</section>