<div class="title">Rules</div>
<div class="round green box light">
  <ol id="rules">
    <li>A new problem will be posted every week.</li>
    <li>You can submit multiple solutions to each problem. Each new 
      solution will overwrite the previous one.</li>
    <li>Your solution must not access any resources outside the code. No access to the internet, 
      other files, etc. As a rule of thumb, if the administrator can copy the text of your submitted 
      code and run it on a computer without internet access and produce the desired output, it will be accepted. </li>
    <li>Your score will be equal to the additive inverse of the rank of your best submission. That is, if there are 50 submissions and you submit the 5th shortest solution you will receive 50 - 5 + 1 = 46 points.</li>
    <li>The problem will be closed on the day of the deadline and the score from each 
      players submission will be added to his/her overall score</li>
    <li>As with everything at Middlebury, the honor code applies. Some of the problems posted here
      are already pretty popular and may have solutions posted elsewhere. </li>      
    <li>For more information, contact <%= mail_to "armaansarkar@gmail.com"%></li>
    <li>Happy golfing!</li>
  </ol>
</div>
