<%= form_for [@problem, current_user.submissions.new] do |f| %>  
  <div id="submit"><%= f.text_area :script, :placeholder => "paste your solution in here" %></div>
  <div><%= f.submit "Submit solution" %></div>
<% end %>