<div class="round box light link">
  <div><%= link_to submission.problem.title, submission %>
  <span class="subtext">
  <% if submission.correct.nil? %>
    (Unverified)
  <% elsif submission.correct %>
    (Correct)
  <% else %>
    (Incorrect)
  <% end %>
  </span>
  </div>
  <div class="subtext">by <%= submission.user.name %> <% if @current_user_has_submitted %>in <%= submission.script.length %> characters <% end %></div>
</div>