<section id="submission">
  <%= render :partial => 'submission', :object => @submission %>
  <% if @submission.user.id == current_user.id || current_user.admin? || !@submission.problem.current_problem %>
    <br>
    <div class="title">Code</div>
    <pre>
      <div id="code_block" class="box"><%= @submission.script %></div>      
    </pre>  
  <% end %>
  <% if current_user.admin? %>
    <span class="button"><%= link_to "correct", correct_submission_path, :method => :put %></span>
    <span class="button"><%= link_to "incorrect", incorrect_submission_path, :method => :put %></span>
  <% end %>
<section>