// Place all the styles related to the submissions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "constants.css.scss";

#code_block {
  font-family:"Courier New";
  background-color: $light-green;
/*  padding: 10px;*/
  font-size: 11px; 
  margin: 0 0;
}