<div class="round box" id="introduction">
  <strong>Welcome</strong> to CodeGolf. The premise is simple. There will be a new problem every week and the goal is to solve that problem in the least number of characters. The player with the shortest correct solution at the end of the week wins.
</div>