<div class="round box" id="introduction">
  <strong>Welcome</strong> to CodeGolf. The premise is simple. Solve a problem in the least number of characters. There is a new problem every week along with a 'par' score for that problem. Each player is allowed to submit one solution. The player with the shortest correct solution at the end of the week wins.
</div>