<table id="sidebar">
  <!-- <div id="links"> -->
    <tr><td><%= link_to "Home", problems_path %></td></tr>
    <tr><td><%= link_to "Players", users_path %></td></tr>        
  <!-- </div> -->
</table>
